* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --color-btn: #18ca18;
  --color-white: #fff;
  --color-btn1: #18ca18;
  --color-form: #d5e1ec;
  --color-bg: #d3efd3;
}
